<form method="post" action="#" class="form-horizontal">
	<fieldset><legend>Signup As a New User</legend>
		<div class="control-group">
			<label class="control-label" for="txtUsername">Username</label>
			<div class="controls">
				<input type="text" id="txtUsername" name="username" value="" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" or="txtFirstName">First Name</label>
			<div class="controls">
				<input type="text" id="txtFirstName" name="firstname" value="" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="txtLastName">Last Name</label>
			<div class="controls">
				<input type="text" id="txtLastName" name="lastname" value="" />
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary" onclick="return false;">Sign Up</button>
			<button type="reset" class="btn">Cancel</button>
		</div>
	</fieldset>
</form>