  	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->   
  	<script src="{{@bootstraphome}}/js/jquery.js" type="text/javascript"></script>
	<script src="{{@bootstraphome}}/js/bootstrap.min.js" type="text/javascript"></script>


	<F3:repeat group="{{@scripts}}" value="{{@script}}">
		<script src="{{@relroot}}/views/{{@script}}" type="text/javascript"></script>
	</F3:repeat>

	</script>
   </body>
</html>
